<section [id]="SectionId.ABOUT" class="page-layout" itemscope itemtype="https://schema.org/AboutPage">
    <header class="mb-5">
        <h2 class="section-title" itemprop="name">{{ 'APP._About.Title' | translate }}</h2>

        <p class="text-xl text-primary-gray" itemprop="description">
            {{ 'APP._About.Subtitle' | translate }}
        </p>
    </header>

    <article class="flex flex-col gap-4" itemprop="mainContentOfPage">
        <p itemprop="text">
            {{ 'APP._About.Paragraph1' | translate }}
        </p>

        <p itemprop="text">
            {{ 'APP._About.Paragraph2' | translate }}
        </p>

        <p itemprop="text">
            {{ 'APP._About.Paragraph3' | translate }}
        </p>
    </article>
</section>
