<section [id]="SectionId.ABOUT" class="page-layout">
    <div class="mb-5">
        <h2 class="section-title">{{ 'APP._About.Title' | translate }}</h2>

        <p class="text-xl text-primary-gray">
            {{ 'APP._About.Subtitle' | translate }}
        </p>
    </div>

    <div class="flex flex-col gap-4">
        <p>
            {{ 'APP._About.Paragraph1' | translate }}
        </p>

        <p>
            {{ 'APP._About.Paragraph2' | translate }}
        </p>

        <p>
            {{ 'APP._About.Paragraph3' | translate }}
        </p>
    </div>
</section>
