<section id="services" class="py-12 md:py-16 lg:py-20 bg-gray-50">
    <div class="page-layout">
        <div class="flex flex-col gap-2 mb-5">
            <h2 class="section-title">{{ _title | translate }}</h2>

            <div class="w-full flex flex-col lg:flex-row lg:items-center xl:justify-start gap-2 sm:gap-4">
                @for (tabTitle of tabTitles(); track tabTitle.id; let isLast = $last) {
                    <button
                        [class]="
                            'text-xl sm:text-2xl lg:text-3xl border-b-2 transition-colors duration-200 hover:text-primary-blue py-2 sm:py-1 text-center sm:text-left '
                            + (
                                _activeTab() === tabTitle.variant
                                    ? 'text-primary-blue border-b-2 border-primary-blue'
                                    : 'text-primary-gray border-transparent'
                            )
                        "
                        (click)="_onTabClick(tabTitle.variant)"
                    >
                        {{ tabTitle.title | translate }}
                    </button>

                    @if (!isLast) {
                        <span class="hidden lg:inline text-xl sm:text-2xl md:text-3xl text-primary-gray">|</span>
                    }
                }
            </div>
        </div>

        <!-- TODO: Decide wether we want card component
            <div class="mt-6 md:mt-8 p-4 md:p-6 bg-white rounded-lg shadow-sm">
                <p class="text-base md:text-lg text-gray-700 text-justify">
                    {{ activeTabContent() }}
                </p>
            </div>
        -->

        <p-card class="2xl:h-[400px]">
            <p class="text-base md:text-lg text-gray-700 text-justify mb-4">
                {{ activeTabContent() | translate }}
            </p>

            <ul class="list-disc list-inside space-y-2 text-base md:text-lg text-gray-700">
                @for (bulletPoint of activeTabBulletPoints(); track $index) {
                    <li>{{ bulletPoint | translate }}</li>
                }
            </ul>
        </p-card>
    </div>
</section>
